* {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

h1 {
  margin: 2%;
}

.list {
  width: 30vw;
  gap: 5%;
}

.listHeader {
  display: flex;
  gap: 1%;
  margin-bottom: 1%;
}